.enemy-unknown {
  content:url("images/unknown.svg");
}

/*bosses*/
/*kraid*/
.enemy-e2bf {
	content:url("images/enemies/kraid.png");
	height: 125px;
	width: 83px;
}

/*phantoon*/
.enemy-e4bf {
	content:url("images/enemies/phantoon.png");
	height: 125px;
	width: 83px;
}


.enemy-cebf {content:url("images/enemies/cebf.gif")}
.enemy-ceff {content:url("images/enemies/ceff.gif")}
.enemy-cf3f {content:url("images/enemies/cf3f.gif")}
.enemy-cf7f {content:url("images/enemies/cf7f.gif")}
.enemy-cfbf {content:url("images/enemies/cfbf.gif")}
.enemy-cfff {content:url("images/enemies/cfff.gif")}
.enemy-d03f {content:url("images/enemies/d03f.gif")}
.enemy-d07f {content:url("images/enemies/d07f.gif")}
.enemy-d0bf {content:url("images/enemies/d0bf.gif")}
.enemy-d0ff {content:url("images/enemies/d0ff.gif")}
.enemy-d13f {content:url("images/enemies/d13f.gif")}
.enemy-d17f {content:url("images/enemies/d17f.gif")}
.enemy-d1bf {content:url("images/enemies/d1bf.gif")}
.enemy-d1ff {content:url("images/enemies/d1ff.gif")}
.enemy-d23f {content:url("images/enemies/d23f.gif")}
.enemy-d27f {content:url("images/enemies/d27f.gif")}
.enemy-d2bf {content:url("images/enemies/d2bf.gif")}
.enemy-d2ff {content:url("images/enemies/d2ff.gif")}
.enemy-d33f {content:url("images/enemies/d33f.gif")}
.enemy-d37f {content:url("images/enemies/d37f.gif")}
.enemy-d3bf {content:url("images/enemies/d3bf.gif")}
.enemy-d3ff {content:url("images/enemies/d3ff.gif")}
.enemy-d43f {content:url("images/enemies/d43f.gif")}
.enemy-d47f {content:url("images/enemies/d47f.gif")}
.enemy-d4bf {content:url("images/enemies/d4bf.gif")}
.enemy-d4ff {content:url("images/enemies/d4ff.gif")}
.enemy-d53f {content:url("images/enemies/d53f.gif")}
.enemy-d57f {content:url("images/enemies/d57f.gif")}
.enemy-d5bf {content:url("images/enemies/d5bf.gif")}
.enemy-d5ff {content:url("images/enemies/d5ff.gif")}
.enemy-d63f {content:url("images/enemies/d63f.gif")}
.enemy-d67f {content:url("images/enemies/d67f.gif")}
.enemy-d6bf {content:url("images/enemies/d6bf.gif")}
.enemy-d6ff {content:url("images/enemies/d6ff.gif")}
.enemy-d73f {content:url("images/enemies/d73f.gif")}
.enemy-d77f {content:url("images/enemies/d77f.gif")}
.enemy-d7bf {content:url("images/enemies/d7bf.gif")}
.enemy-d7ff {content:url("images/enemies/d7ff.gif")}
.enemy-d83f {content:url("images/enemies/d83f.gif")}
.enemy-d87f {content:url("images/enemies/d87f.gif")}
.enemy-d8bf {content:url("images/enemies/d8bf.gif")}
.enemy-d8ff {content:url("images/enemies/d8ff.gif")}
.enemy-d93f {content:url("images/enemies/d93f.gif")}
.enemy-d97f {content:url("images/enemies/d97f.gif")}
.enemy-d9bf {content:url("images/enemies/d9bf.gif")}
.enemy-d9ff {content:url("images/enemies/d9ff.gif")}
.enemy-da3f {content:url("images/enemies/da3f.gif")}
.enemy-da7f {content:url("images/enemies/da7f.gif")}
.enemy-dabf {content:url("images/enemies/dabf.gif")}
.enemy-daff {content:url("images/enemies/daff.gif")}
.enemy-db3f {content:url("images/enemies/db3f.gif")}
.enemy-db7f {content:url("images/enemies/db7f.gif")}
.enemy-dbbf {content:url("images/enemies/dbbf.gif")}
.enemy-dbff {content:url("images/enemies/dbff.gif")}
.enemy-dc3f {content:url("images/enemies/dc3f.gif")}
.enemy-dc7f {content:url("images/enemies/dc7f.gif")}
.enemy-dcbf {content:url("images/enemies/dcbf.gif")}
.enemy-dcff {content:url("images/enemies/dcff.gif")}
.enemy-dd3f {content:url("images/enemies/dd3f.gif")}
.enemy-dd7f {content:url("images/enemies/dd7f.gif")}
.enemy-ddbf {content:url("images/enemies/ddbf.gif")}
.enemy-ddff {content:url("images/enemies/ddff.gif")}
.enemy-de3f {content:url("images/enemies/de3f.gif")}
.enemy-de7f {content:url("images/enemies/de7f.gif")}
.enemy-debf {content:url("images/enemies/debf.gif")}
.enemy-deff {content:url("images/enemies/deff.gif")}
.enemy-df3f {content:url("images/enemies/df3f.gif")}
.enemy-df7f {content:url("images/enemies/df7f.gif")}
.enemy-dfbf {content:url("images/enemies/dfbf.gif")}
.enemy-dfff {content:url("images/enemies/dfff.gif")}
.enemy-e03f {content:url("images/enemies/e03f.gif")}
.enemy-e07f {content:url("images/enemies/e07f.gif")}
.enemy-e0bf {content:url("images/enemies/e0bf.gif")}
.enemy-e0ff {content:url("images/enemies/e0ff.gif")}
.enemy-e13f {content:url("images/enemies/e13f.gif")}
.enemy-e17f {content:url("images/enemies/e17f.gif")}
.enemy-e1bf {content:url("images/enemies/e1bf.gif")}
.enemy-e1ff {content:url("images/enemies/e1ff.gif")}
.enemy-e23f {content:url("images/enemies/e23f.gif")}
.enemy-e27f {content:url("images/enemies/e27f.gif")}
.enemy-e2ff {content:url("images/enemies/e2ff.gif")}
.enemy-e33f {content:url("images/enemies/e33f.gif")}
.enemy-e37f {content:url("images/enemies/e37f.gif")}
.enemy-e3bf {content:url("images/enemies/e3bf.gif")}
.enemy-e3ff {content:url("images/enemies/e3ff.gif")}
.enemy-e43f {content:url("images/enemies/e43f.gif")}
.enemy-e47f {content:url("images/enemies/e47f.gif")}
.enemy-e4ff {content:url("images/enemies/e4ff.gif")}
.enemy-e53f {content:url("images/enemies/e53f.gif")}
.enemy-e57f {content:url("images/enemies/e57f.gif")}
.enemy-e5bf {content:url("images/enemies/e5bf.gif")}
.enemy-e5ff {content:url("images/enemies/e5ff.gif")}
.enemy-e63f {content:url("images/enemies/e63f.gif")}
.enemy-e67f {content:url("images/enemies/e67f.gif")}
.enemy-e6bf {content:url("images/enemies/e6bf.gif")}
.enemy-e6ff {content:url("images/enemies/e6ff.gif")}
.enemy-e73f {content:url("images/enemies/e73f.gif")}
.enemy-e77f {content:url("images/enemies/e77f.gif")}
.enemy-e7bf {content:url("images/enemies/e7bf.gif")}
.enemy-e7ff {content:url("images/enemies/e7ff.gif")}
.enemy-e83f {content:url("images/enemies/e83f.gif")}
.enemy-e87f {content:url("images/enemies/e87f.gif")}
.enemy-e8bf {content:url("images/enemies/e8bf.gif")}
.enemy-e8ff {content:url("images/enemies/e8ff.gif")}
.enemy-e93f {content:url("images/enemies/e93f.gif")}
.enemy-e97f {content:url("images/enemies/e97f.gif")}
.enemy-e9bf {content:url("images/enemies/e9bf.gif")}
.enemy-e9ff {content:url("images/enemies/e9ff.gif")}
.enemy-ea3f {content:url("images/enemies/ea3f.gif")}
.enemy-ea7f {content:url("images/enemies/ea7f.gif")}
.enemy-eabf {content:url("images/enemies/eabf.gif")}
.enemy-eaff {content:url("images/enemies/eaff.gif")}
.enemy-eb3f {content:url("images/enemies/eb3f.gif")}
.enemy-eb7f {content:url("images/enemies/eb7f.gif")}
.enemy-ebbf {content:url("images/enemies/ebbf.gif")}
.enemy-ebff {content:url("images/enemies/ebff.gif")}
.enemy-ec3f {content:url("images/enemies/ec3f.gif")}
.enemy-ec7f {content:url("images/enemies/ec7f.gif")}
.enemy-ecbf {content:url("images/enemies/ecbf.gif")}
.enemy-ecff {content:url("images/enemies/ecff.gif")}
.enemy-ed3f {content:url("images/enemies/ed3f.gif")}
.enemy-ed7f {content:url("images/enemies/ed7f.gif")}
.enemy-edbf {content:url("images/enemies/edbf.gif")}
.enemy-edff {content:url("images/enemies/edff.gif")}
.enemy-ee3f {content:url("images/enemies/ee3f.gif")}
.enemy-ee7f {content:url("images/enemies/ee7f.gif")}
.enemy-eebf {content:url("images/enemies/eebf.gif")}
.enemy-eeff {content:url("images/enemies/eeff.gif")}
.enemy-ef3f {content:url("images/enemies/ef3f.gif")}
.enemy-ef7f {content:url("images/enemies/ef7f.gif")}
.enemy-efbf {content:url("images/enemies/efbf.gif")}
.enemy-efff {content:url("images/enemies/efff.gif")}
.enemy-f03f {content:url("images/enemies/f03f.gif")}
.enemy-f07f {content:url("images/enemies/f07f.gif")}
.enemy-f0bf {content:url("images/enemies/f0bf.gif")}
.enemy-f0ff {content:url("images/enemies/f0ff.gif")}
.enemy-f153 {content:url("images/enemies/f153.gif")}
.enemy-f193 {content:url("images/enemies/f193.gif")}
.enemy-f1d3 {content:url("images/enemies/f1d3.gif")}
.enemy-f213 {content:url("images/enemies/f213.gif")}
.enemy-f253 {content:url("images/enemies/f253.gif")}
.enemy-f293 {content:url("images/enemies/f293.gif")}
.enemy-f2d3 {content:url("images/enemies/f2d3.gif")}
.enemy-f313 {content:url("images/enemies/f313.gif")}
.enemy-f353 {content:url("images/enemies/f353.gif")}
.enemy-f393 {content:url("images/enemies/f393.gif")}
.enemy-f3d3 {content:url("images/enemies/f3d3.gif")}
.enemy-f413 {content:url("images/enemies/f413.gif")}
.enemy-f453 {content:url("images/enemies/f453.gif")}
.enemy-f493 {content:url("images/enemies/f493.gif")}
.enemy-f4d3 {content:url("images/enemies/f4d3.gif")}
.enemy-f513 {content:url("images/enemies/f513.gif")}
.enemy-f553 {content:url("images/enemies/f553.gif")}
.enemy-f593 {content:url("images/enemies/f593.gif")}
.enemy-f5d3 {content:url("images/enemies/f5d3.gif")}
.enemy-f613 {content:url("images/enemies/f613.gif")}
.enemy-f653 {content:url("images/enemies/f653.gif")}
.enemy-f693 {content:url("images/enemies/f693.gif")}
.enemy-f6d3 {content:url("images/enemies/f6d3.gif")}
.enemy-f713 {content:url("images/enemies/f713.gif")}
.enemy-f753 {content:url("images/enemies/f753.gif")}
.enemy-f793 {content:url("images/enemies/f793.gif")}
